<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ug.global.glofarmedited">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity android:name=".WelcomeActivity">

        </activity>
        <activity android:name=".PhoneNumberVerification" />
        <activity
            android:name=".supporttools.SupportToolsMain"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".farmfinancials.FarmFinancialsMain"
            android:parentActivityName=".Home" />
        <activity
            android:name=".agromarket.AddNewProduct"
            android:label="Add New Product"
            android:parentActivityName=".agromarket.ProductsActivityMain" />
        <activity
            android:name=".agromarket.ProductsActivityMain"
            android:parentActivityName=".Home" />
        <activity
            android:name=".agromarket.FarmTools"
            android:parentActivityName=".Home" />
        <activity
            android:name=".agromarket.SuppliesActivityMain"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Home"
            android:theme="@style/AppTheme1" />
        <activity android:name=".NewAccountActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>