<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ug.global.glofarmedited">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_crops"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_crops"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="ug.global.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".PhoneNumberVerification" />
        <activity
            android:name=".supporttools.SupportToolsMain"
            android:parentActivityName=".Home"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".agromarket.AddNewProduct"
            android:label="Add New Product"
            android:parentActivityName=".agromarket.ProductsActivityMain" />
        <activity
            android:name=".agromarket.ProductsActivityMain"
            android:parentActivityName=".Home" />
        <activity
            android:name=".agromarket.FarmTools"
            android:parentActivityName=".Home" />
        <activity
            android:name=".agromarket.SuppliesActivityMain"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Home"
            android:theme="@style/AppThemeNoActionBar" />

        <activity
            android:name=".farmfinancials.FarmFinancialsMain"
            android:parentActivityName=".Home" />
        <activity
            android:name=".NewAccountActivity"
            android:parentActivityName=".LoginActivity" />

        <service
            android:name=".FireBaseMessagingService"
            android:exported="false"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
    </application>

</manifest>